[Desktop Entry]
Name=Alicization
Exec=alicization %U
Terminal=false
Type=Application
Icon=ai.moeru.alicization
StartupWMClass=Alicization
Comment=Alicization is an AI VTuber/Waifu chatbot supporting Live2D/VRM avatars, featuring human-like interactions and modular stage-based rendering.
Categories=Utility;
